:root {
  font-family: Roboto, sans-serif;
}

body {
  background-color: #0a0a23;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #9DACB5;
}

.main-heading {
  margin: 0;
  font-size: 64px;
  font-weight: 400;
}

#text {
  margin-top: 16px;
  padding: 10px;
  background-color: #0a0a23;
  color: #9DACB5;
  border-radius: 4px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #8CA6B5;
  color: #9DACB5;
  margin: 30px auto 0px;
  padding: 10px;
  border-radius: 8px;
}

#controls,
#stats {
  padding: 15px;
  background-color: #8CA6B5;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .4);
  color: #9DACB5;
  border-radius: 4px;
}

#controls {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 16px;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}